.profile-page {
  flex: 1;
  overflow-y: auto;
  height: 90%;
  background-color: #333;
}
.profile-page::-webkit-scrollbar {
  display: none;
}
.profile-top {
  display: flex;
}
.profile-top-container {
  margin: 0 auto;
}
.profile-title {
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-family: "Sono";
  color: white;
}
.post-form {
  display: flex;
  align-items: center;
  padding: 0 3rem 1rem 3rem;
}

.post-input {
  flex: 1;
  width: 50%;
  padding: 0.5rem 0;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  outline: none;
  text-indent: 1rem;
}
.post-input:focus {
  outline: none;
  border-color: palegoldenrod;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.post-input::placeholder {
  font-family: "Sono", monospace;
  padding-left: 0.5rem;
}
.post-btn {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sono";
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.post-btn:hover {
  background-color: #544bd2;
}
.post-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.4);
}

.profile-container {
  display: flex;
  background-color: #333;
}
.profile-left {
  flex: 4;
}
.profile-right {
  flex: 1;
}
.single-detail {
  margin: 1rem 1rem 1rem 3rem;
  border: 0.05rem solid black;
  border-radius: 2rem;
}
.profile-detail {
  padding: 1rem 0 0.5rem 15%;
}
.feed-username {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Sono", monospace;
  color: #fff;
}
.delete-btn {
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Sono";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #544bd2;
}

.delete-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.4);
}
.feed-post {
  display: inline-block;
  word-wrap: break-word;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 0.9rem;
  background-color: #666;
  max-width: 60%;
  color: #fff;
}
.feed-posttime {
  font-size: 0.8rem;
  font-family: "Sono", monospace;
}

.pro-reply-container {
  padding: 0.2rem 0 0.3rem 25%;
}
.pro-reply-user {
  font-family: "Sono", monospace;
  font-size: 1.2rem;
  color: #fff;
}
.pro-reply-content {
  display: inline-block;
  word-wrap: break-word;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 0.7rem;
  background-color: #666;
  color: #fff;
  max-width: 60%;
  position: relative;
}
.pro-reply-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -0.6rem;
  border: 0.5rem solid transparent;
  border-right-color: #666;
  border-left: 0;
  border-top: 0;
  border-top: 6px solid transparent;
}
.pro-reply-time {
  font-size: 0.8rem;
  font-family: "Sono", monospace;
}
.profile-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followees-title {
  padding: 1rem;
  margin-right: 1rem;
  font-family: "Sono";
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.followees-users {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.user-label {
  text-align: center;
  font-family: "Sono";
  font-size: 1rem;
}

.unfollow-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Sono";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unfollow-btn:hover {
  background-color: #544bd2;
}

.unfollow-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.4);
}
